
.slider {
  width:600px;
  height:300px;
  margin: 0 auto;
  border-radius:30px;
  max-width: 940px;
}
.slider img {
height:300px;
width:600px;
}
.slide_viewer {
  height: 340px;
  overflow: hidden;
  position: relative;
}

.slide_group {
  height: 100%;
  position: relative;
  width: 100%;
}

.slide {
  display: none;
  height: 100%;
  position: absolute;
  width: 100%;
  
}

.slide:first-child {
  display: block;
}





@media only screen and (max-width: 767px) {
  .previous_btn {
    left: 50px;
  }
  .next_btn {
    right: 50px;
  }
}
