@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,800&family=Scheherazade:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

body {
    scroll-behavior: smooth;
    background: radial-gradient(circle, rgba(219, 200, 166, 1) 39%, rgba(199, 164, 100, 1) 100%);

}

header {
    display: grid;
    background: #292929;
    grid-template-columns: 1fr 4fr 1fr;
    gap: 8rem;
    border-bottom: 4px solid #c7a464;
}

.logo {
    width: 10%;
    margin: 25px 15px;
    color: #c7a464;
    font-family: 'cinzel', serif;
    font-size: 1rem;
}

.nav ul {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    padding: 40px 0px;
}

ul h2 {
    text-align: left;
}

.nav ul li a {
    color: #c7a464;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;

}

.nav a:hover {
    color: #FFF;
}

.nav {
    padding-left: 40px;

}

.boeking-button button {
    margin: 40px 15px;
    background: #c7a464;
    color: #151316;
    font-size: 20px;

}

.jumbotron {
    background: url("../images/stock-jumbotron-d.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 200px;
    border-bottom: 3px solid #292929;
    margin-bottom: 4em;
}


/* formulier gedeelte begint hier   */


.error {

    color: #FF0000;
}

label {
    display: inline-block;
    width: 200px;
}



/* formulier gedeelte eindigt hier   */












/*  begin diensten pagina */

main img {
    border: 2px solid #292929;
    opacity: 0.8;
    box-sizing: border-box;
}

main div {
    font-family: open-sans, sans-serif;
    color: #292929;
    text-align: center;


}



section {
    display: grid;
    grid-template-rows: 2fr 2fr 2fr;
}

article {
    display: grid;
    grid-template-columns: .5fr 1fr 1fr .5fr;
    column-gap: 2em;
    grid-template-areas:
        ". linksboven rechtsboven .";
    box-sizing: border-box;



}

article:nth-child(2) {
    display: grid;
    grid-template-columns: .5fr 1fr 1fr .5fr;
    column-gap: 2em;
    grid-template-areas:
        " . linksmidden rechtsmidden .";
    margin-top: 2rem;
    box-sizing: border-box;

}

article:nth-child(3) {
    display: grid;
    grid-template-columns: .5fr 1fr 1fr .5fr;
    column-gap: 2em;
    grid-template-areas:
        " . linksonder rechtsonder .";
    margin-top: 3rem;
    box-sizing: border-box;

}

.linksboven::before {
    content: url(../images/divider.png);
    position: absolute;
    padding-left: 44px;
    padding-top: 1rem;
}

.rechtsmidden::before {
    content: url(../images/divider.png);
    position: absolute;
    padding-left: 44px;
    padding-top: 1rem;
}

.linksonder::before {
    content: url(../images/divider.png);
    position: absolute;
    padding-left: 44px;
    padding-top: 1rem;
}

h2 {
    font-family: open-sans;
    font-style: italic;
}

.linksboven {
    grid-area: linksboven;
    display: grid;
    box-sizing: border-box;
    height: 300px;
    width: 600px;

}


.rechtsboven {
    grid-area: rechtsboven;
    height: 300px;
    width: 600px;
}

.rechtsmidden {
    grid-area: rechtsmidden;
    display: grid;
    box-sizing: border-box;
    height: 300px;
    width: 600px;


}

.linksmidden {
    grid-area: linksmidden;
    height: 300px;
    width: 600px;
}

.rechtsonder {
    grid-area: rechtsonder;
    height: 300px;
    width: 600px;
}

.linksonder {
    grid-area: linksonder;
    display: grid;
    box-sizing: border-box;
    height: 300px;
    width: 600px;


}

p {
    font-family: open-sans, sans-serif;
    align-self: center;
    justify-self: center;
    text-align: left;
    width: 80%;
    line-height: 28px;
}

footer ul li a,
footer ul li {
    list-style: none;
    text-decoration: none;
    color: white;
    line-height: 40px;
}

footer {
    margin-top: 2rem;
    background-image: url(../images/footer-bg.png);
    background-size: cover;
    border-top: 4px solid #c7a464;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 3fr 1fr;
    grid-template-areas:
        "footerlinks footercenter footerrechts"
        "copyrightbalk copyrightbalk copyrightbalk"
    ;
}

.footerlinks,
.footerlinks ul li a {
    grid-area: footerlinks;
    color: #c7a464;

}

.footercenter {
    grid-area: footercenter;

}

#mailchimp {
    color: #c7a464;
    padding: 2rem;
}

#mailchimp input {
 width:200px;
}

.buttonmailchimp {
    width: 230px;
}

.footerrechts,
.footerrechts ul li {
    grid-area: footerrechts;
    justify-self: right;
    padding: 1rem 6rem 0 0;
    color: #c7a464;
}

.copyrightbalk {
    grid-area: copyrightbalk;
    text-align: center;
    opacity: 0.6;
    color: white;
}

.copyrightbalk p {
    text-align: center;
    margin: auto;
    color: #c7a464;
}

i {
    color: white;
}

/*  einde diensten pagina */


/*Prijzen pagina begint hier */

.kamersgroep {
    display: grid;
    gap: 2rem;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        " kamerslide  kamerinfo "
        " kamertekst  nothing "
    ;
}

.kamerslide {
    grid-area: kamerslide;
    box-sizing: border-box;
}

.kamertekst {
    display: grid;
    grid-area: kamertekst;
    width: 750px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -6%;
    margin-bottom: 2%;



}

.kamertekst p {
    align-self: start;
    border: 2px solid black;
    width: 80%;
    margin: auto;
    padding: 10px;
    color: #000;
}


.kamerinfo ul {
    display: grid;
    box-sizing: border-box;
    height: 400px;
    list-style: "~ ";
    margin: auto;
    margin-top: 10%;
    color: #FFFFFF;
    background: url(../images/footer-bg.png);
    max-width: 300px;
    min-width: 250px;
    border: 4px solid #FFFFFF;
}

.kamerinfo li {
    align-self: start;
    justify-self: start;
}

.kamerinfo button {
    padding: 5px;
    margin-bottom: 10px;
    width: 100px;
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid #c7a464;
    color: #FFF;
    margin-left: -15%;
    margin-top: 6%;
    margin-right: auto;
    cursor: pointer;

}

.kamerinfo a {

    text-decoration: none;
}

.kamerinfo button:focus {
    outline: none;
}

.kamerinfo button:hover {
    background-color: rgba(255, 255, 255, 1);
    color: #292929;
}

.subnav {
    width: 250px;
    background: #292929;
    height: 40px;
    display: flex;
    border-bottom: 4px solid #c7a464;
    border-right: 4px solid #c7a464;


}

.subnav ul {
    list-style: none;
    display: flex;

}

.subnav ul li a {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color: #c7a464;
    margin-right: 20px;
}

.subnav ul li a:hover {
    color: #FFFFFF;


}


::selection {
    background-color: #000000;
    color: #c7a464;


}

.nostyle {
    list-style-type:none;
}

/*Home pagina begint hier*/


.content {
    display: grid;
    grid-template-columns: auto;
    grid-auto-rows: auto;
}

.bovengrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        ' introtekst introfotos '
    ;
}

.bovengrid h1 {
    font-family: cinzel;
    text-align: center;
    margin-top: -50px;
}

.introfotos {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    grid-template-areas:
        ' fotolb fotorb'
        ' fotolo fotoro'
    ;
    grid-area: introfotos;

}

.introtekst {
    grid-area: introtekst;
    padding: 2rem;
    font-size: 1.5rem;
    display: grid;
    justify-self: end;

}

.introtekst p {
    justify-self: end;
    font-family: open-sans;

}

.fotolb {
    grid-area: fotolb;
    height: 150px;
    width: 250px;
    justify-self: end;
}

.fotorb {
    grid-area: fotorb;
    height: 150px;
    width: 250px;

}

.fotolo {
    grid-area: fotolo;
    height: 150px;
    width: 250px;
    justify-self: end;
}

.fotoro {
    grid-area: fotoro;
    height: 150px;
    width: 250px;
}

.scheider {
    border-top: 3px solid;
    width: 70%;
    margin: auto;
    padding: 10px;
    margin-top: 30px;
    opacity: 0.5;
}

.overonstekst p {
    width: 1000px;
    margin: auto;
    padding: 40px;
    font-family: open-sans;
    font-size: 20px;

}

.overonsfotos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-content: space-evenly;
    gap: 50px;

}

.imgleft {
    justify-self: end;
}

/*Home pagina eindigt hier*/


/*Forms  */
input {
    background-color: rgba(0, 0, 0, 0.1);
    color: #c7a464;
    padding: 10px;
    margin: 10px;
    border: 1px solid #c7a464;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

textarea {
    background-color: rgba(0, 0, 0, 0.1);
    color: #c7a464;
    padding: 10px;
    margin: 10px;
    border: 1px solid #c7a464;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}


select {
    font-family: 'Open Sans', sans-serif;
}

button {
    padding: 5px;
    margin-bottom: 10px;
    width: 100px;
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid #c7a464;
    color: #FFF;
    cursor: pointer;
}

button:focus {
    outline: none;
}

button:hover {
    background-color: rgba(255, 255, 255, 1);
    color: #292929;
}

textarea {
    height: 200px;
    width: 400px;
}

#onderwerp {
    width: 400px;
}

::placeholder {
    color: rgba(255,255,255,0.6);
    text-align: left;
    font-weight: bold;
}
.prijsknop {
    padding: 5px;
    line-height:40px;
    width: 100px;
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid #c7a464;
    color: #FFF;
    cursor: pointer;
}
.prijsknop:hover {
    background-color: rgba(255, 255, 255, 1);
    color: #292929;
}



/*Boekings formulier*/


  .error {
    color: #ffffff;
    background-color: red;
    border-radius: 7px 0px 7px 0px;
  }
  input {
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
    padding: 10px;
    margin: 10px;
    border: 1px solid #c7a464;
    text-align: center;
    font-family: "Open Sans", sans-serif;
  }
  label {
    color: #fff;
    font-family: "Open Sans", sans-serif;
    display: inline;
  }
  select {
    font-family: "Open Sans", sans-serif;
    
  }
  ::placeholder {
    color: #fff;
    text-align: left;
    font-weight: bold;
  }
  h1 {
    color: #fff;
  }
  #formulier{
      display: grid;
      border: 1px solid black;
      grid-template-columns: auto;
      grid-template-rows:repeat(5,1fr) ;
      align-items: center;
      justify-content: center;
      gap: 20px;
  }
