@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,800&family=Scheherazade:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

body{
    
    background: radial-gradient(circle, rgba(219,200,166,1) 39%, rgba(199,164,100,1) 100%);

}
header{
    display:grid;
    background:#292929 ;
    grid-template-columns: 1fr 4fr 1fr ;
    gap: 8rem;
    border-bottom:4px solid #c7a464;
}

.logo {
    width: 10%;
    margin: 25px 15px ;
    color: #c7a464;
    font-family: 'cinzel', serif;
    font-size: 1rem;
}

.nav ul{
    list-style: none;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    padding: 40px 0px;
}
.nav ul li a{
    color: #c7a464;
    text-decoration:none;
    font-size:20px;
    font-family: 'Open Sans', sans-serif;

}
.nav a:hover {
color:#FFF;
}
.nav{
    padding-left: 40px;
    
}

.boeking-button button{
    margin: 40px 15px;
    background:#c7a464;
    color: #151316;
    font-size: 20px;
  
}
.jumbotron {
background:url("../images/stock-jumbotron-d.jpg");
background-repeat:no-repeat;
background-size:cover;
width:100%;
height:200px;
border-bottom:3px solid #292929;
margin-bottom: 4em;
}


/* formulier gedeelte begint hier   */


 .error {

    color:#FF0000;
}

label {
    display:inline-block;
    text-align:right;
    width:200px;
}



/* formulier gedeelte eindigt hier   */












/*  begin diensten pagina */

main img{
   border: 2px solid #292929;
   opacity: 0.8;
   box-sizing: border-box;
}
main div{
    font-family: open-sans, sans-serif;
    color: #292929;
    text-align: center;
    

}



section{
    display: grid;
    grid-template-rows: 2fr 2fr 2fr;
}
article{
    display:grid;
    grid-template-columns: .5fr 1fr 1fr .5fr;
    column-gap: 2em;
    grid-template-areas: 
    ". linksboven rechtsboven .";
    box-sizing: border-box;

   

}
article:nth-child(2){
    display:grid;
    grid-template-columns: .5fr 1fr 1fr .5fr;
    column-gap: 2em;
    grid-template-areas: 
    " . linksmidden rechtsmidden .";
    margin-top: 2rem;
    box-sizing: border-box;
   
}
article:nth-child(3){
    display:grid;
    grid-template-columns: .5fr 1fr 1fr .5fr;
    column-gap: 2em;
    grid-template-areas: 
    " . linksonder rechtsonder .";
     margin-top: 3rem;
     box-sizing: border-box;
   
}

.linksboven::before{
    content: url(../images/divider.png);
    position:absolute;
    padding-left: 44px;
    padding-top: 1rem;
}

.rechtsmidden::before{
    content: url(../images/divider.png);
    position:absolute;
    padding-left: 44px;
    padding-top: 1rem;
}
.linksonder::before{
    content: url(../images/divider.png);
    position:absolute;
    padding-left: 44px;
    padding-top: 1rem;
}
h2{
    font-family: open-sans;
    font-style: italic;
}

.linksboven{
    grid-area: linksboven;
    display:grid;
    box-sizing: border-box;
    height: 300px;
    width: 600px;
    
}


.rechtsboven{
    grid-area: rechtsboven;
    height: 300px;
    width: 600px;
}

.rechtsmidden{
    grid-area: rechtsmidden;
    display:grid;
    box-sizing: border-box;
    height: 300px;
    width: 600px;
    
    
}
.linksmidden{
    grid-area: linksmidden;
    height: 300px;
    width: 600px;
}
.rechtsonder{
    grid-area: rechtsonder;
    height: 300px;
    width: 600px;
}
.linksonder{
    grid-area: linksonder;
    display:grid;
    box-sizing: border-box;
    height: 300px;
    width: 600px;
    
    
}

p {
    font-family: open-sans, sans-serif;
    align-self: center;
    justify-self: center;
    text-align:left;
    width: 80%;
    line-height: 28px;
    }

footer ul li a, footer ul li{
    list-style: none; 
    text-decoration: none;
    color:white;
    line-height:40px;
}

footer{
    margin-top: 2rem;
    background-image: url(../images/footer-bg.png);
    background-size:cover;
    border-top:4px solid #c7a464;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 3fr 1fr  ;
    grid-template-areas: 
         "footerlinks footercenter footerrechts"
         "copyrightbalk copyrightbalk copyrightbalk"
    ;
}

.footerlinks,.footerlinks ul li a{
    grid-area: footerlinks;
    color: #c7a464;
    
}

.footercenter{
    grid-area: footercenter;
    
}

#mailchimp {
    color:#c7a464 ;
    padding: 2rem;
}
#mailchimp input {
background-color: rgba(0,0,0,0.1);
    color: #c7a464;
padding: 10px;
margin: 10px;
border: 1px solid #c7a464;
text-align: center;
}
.buttonmailchimp {
    width: 230px;
}

.footerrechts, .footerrechts ul li{
    grid-area: footerrechts;
    justify-self: right;
    padding: 1rem 6rem 0 0 ;
    color: #c7a464;
}
.copyrightbalk{
    grid-area: copyrightbalk;
    text-align: center;
    opacity: 0.6;
    color: white ;
}
.copyrightbalk p{
    text-align: center;
    margin: auto;
    color: #c7a464;
}
i{
    color: white;
}

/*  einde diensten pagina */


/*Prijzen pagina begint hier */

.kamersgroep{
    display:grid;
    gap: 2rem;
    grid-template-columns: 2fr  1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    " kamerslide  kamerinfo "
    " kamertekst  kamertekst "
   ;
}

.kamerslide{
    grid-area: kamerslide;
    box-sizing: border-box;
}

.kamertekst{
    display: grid;
    grid-area:kamertekst; 
    width: 80%;
    margin-left: auto;
    margin-right: auto; 
    
    
}
.kamertekst p{
    align-self: start;
    border: 1px solid black;
    width: 80%;
    margin: auto;
    padding: 10px;
}


.kamerinfo ul {
    display: grid;
    box-sizing: border-box;
    height: 400px;
    list-style: none;
    margin: auto;
}
.kamerinfo li{
    align-self:start ;
    justify-self:start;
}
 .kamerinfo button{
     padding: 5px;
 }